
$red:       #A84932;
$orange:    #E08651;
$yellow:	#FFB03B;
$green:		#8CA461;
$blue:      #36A17E;
$darkBlue:	#13747D;
$gray:      #9D968D;
$black:     #45332F;
$white:     #F5EDE0;
$cream:		#f7d278;

.color--red{
  color: $red;
}

.color--orange{
  color: $orange;
}

.color--yellow{
  color: $yellow;
}

.color--blue{
  color: $blue;
}

.color--green{
  color: $green;
}

.color--white{
  color: $white;
}

.color--gray{
  color: $gray;
}

.color--black{
  color: $black;
}


.color--cream{
  color: $cream;
}

