---
component: navbar
---
<!-- Navbar component
================================================== -->
<header class="nav">
	<div class="container"><a href="#home" class="logo">Camila Carvajal</a>
		<ul><!--
		!--><li><a href="#work">Work</a></li><!-- 
		!--><li><a href="#resume">Resume</a></li><!-- 
		!--><li><a href="#contact">Contact</a></li><!-- 
		!--></ul>
	</div> 
</header>
