/* Fonts
========================================================================== */
/* Modules
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
/* line 13, ../../app/styles/modules/_colors.scss */
.color--red {
  color: #A84932;
}

/* line 17, ../../app/styles/modules/_colors.scss */
.color--orange {
  color: #E08651;
}

/* line 21, ../../app/styles/modules/_colors.scss */
.color--yellow {
  color: #FFB03B;
}

/* line 25, ../../app/styles/modules/_colors.scss */
.color--blue {
  color: #36A17E;
}

/* line 29, ../../app/styles/modules/_colors.scss */
.color--green {
  color: #8CA461;
}

/* line 33, ../../app/styles/modules/_colors.scss */
.color--white {
  color: #F5EDE0;
}

/* line 37, ../../app/styles/modules/_colors.scss */
.color--gray {
  color: #9D968D;
}

/* line 41, ../../app/styles/modules/_colors.scss */
.color--black {
  color: #45332F;
}

/* line 46, ../../app/styles/modules/_colors.scss */
.color--cream {
  color: #f7d278;
}

/* Vendor
   ========================================================================== */
/* line 21, ../../bower_components/susy/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Changing Susy default global settings */
/* line 18, ../../app/styles/modules/_grids.scss */
.container {
  padding: 0 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../bower_components/susy/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 700px) {
  /* line 23, ../../app/styles/modules/_grids.scss */
  .work, .contact {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 700px) {
  /* line 29, ../../app/styles/modules/_grids.scss */
  .lastWork, .lastContact {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

/* line 1, ../../app/styles/modules/_icons.scss */
.icon {
  width: 70px;
  height: 70px;
}

/* line 1, ../../app/styles/modules/_images.scss */
.photo {
  border: 15px solid #F5EDE0;
  border-radius: 3px;
  background: #F5EDE0;
  transform: rotate(2deg);
  box-shadow: 0px 0px 10px #A84932;
  transition: all .1s ease-in-out;
  overflow: hidden;
}
/* line 11, ../../app/styles/modules/_images.scss */
.photo img {
  transition: all .2s ease-in-out;
  display: block;
}
/* line 16, ../../app/styles/modules/_images.scss */
.photo p {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  padding: 10px 0;
  margin: 0;
  color: #45332F;
  background: #F5EDE0;
  font-weight: 600;
  position: relative;
}
/* line 28, ../../app/styles/modules/_images.scss */
.photo .tags {
  position: absolute;
  height: 0;
  width: 100%;
  font-size: 1.3em;
  padding: 30px;
  transition: all .7s ease-in-out;
  background: #45332F;
  color: #F5EDE0;
  display: none;
}
/* line 40, ../../app/styles/modules/_images.scss */
.photo:hover {
  transform: rotate(0deg) !important;
}
/* line 42, ../../app/styles/modules/_images.scss */
.photo:hover .tags {
  display: block;
  height: 100%;
}

/* line 49, ../../app/styles/modules/_images.scss */
.framed {
  border: 14px solid #F5EDE0;
  margin: 0 20px;
  vertical-align: middle;
  max-width: 180px;
  width: 50%;
}

/* line 57, ../../app/styles/modules/_images.scss */
.work:nth-child(even) {
  transform: rotate(-4deg);
}

/* line 4, ../../app/styles/modules/_parallax.scss */
.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 10, ../../app/styles/modules/_parallax.scss */
.texture {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 10px dotted #45332F;
}
/* line 14, ../../app/styles/modules/_parallax.scss */
.texture .box {
  background: #45332F;
  width: 100%;
  height: 20px;
}

/* line 1, ../../app/styles/modules/_typography.scss */
body {
  letter-spacing: -.01em;
  font-family: 'PT Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

/* line 9, ../../app/styles/modules/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

/* line 15, ../../app/styles/modules/_typography.scss */
h1 {
  color: #45332F;
  font-size: 4em;
  line-height: 1em;
  text-align: center;
}

/* line 23, ../../app/styles/modules/_typography.scss */
h2 {
  font-family: 'Pacifico', sans-serif;
  color: #A84932;
  font-size: 2em;
  text-align: center;
}

/* line 30, ../../app/styles/modules/_typography.scss */
.text--bold {
  font-weight: 700;
}

/* line 34, ../../app/styles/modules/_typography.scss */
.text--center {
  text-align: center;
}

/* line 38, ../../app/styles/modules/_typography.scss */
a {
  cursor: pointer;
  text-decoration: none;
  transition: all .5s;
}

/* line 44, ../../app/styles/modules/_typography.scss */
p {
  font-size: 1.15em;
  text-align: left;
  line-height: 1.7em;
  letter-spacing: -.05em;
  color: #45332F;
  font-weight: 400;
}
/* line 51, ../../app/styles/modules/_typography.scss */
p a {
  color: #36A17E;
}
/* line 53, ../../app/styles/modules/_typography.scss */
p a:hover {
  color: #FFB03B;
}

/* line 61, ../../app/styles/modules/_typography.scss */
ul {
  text-align: left;
}

/* line 65, ../../app/styles/modules/_typography.scss */
.fadeDown {
  z-index: 1;
  width: 100%;
  position: absolute;
  animation: fadeUpIn 3s;
  -webkit-animation: fadeUpIn 3s;
  /* Safari and Chrome */
}

/* line 73, ../../app/styles/modules/_typography.scss */
.fadeUp {
  animation: fadeUpIn 1s;
  -webkit-animation: fadeUpIn 1s;
  /* Safari and Chrome */
}

/* line 78, ../../app/styles/modules/_typography.scss */
.text--centered {
  text-align: center;
}

/* line 82, ../../app/styles/modules/_typography.scss */
.text--right {
  text-align: right;
}

/* line 86, ../../app/styles/modules/_typography.scss */
.text--left {
  text-align: left;
}

/* line 90, ../../app/styles/modules/_typography.scss */
.shadowed {
  text-shadow: 3px 3px #45332F;
}

/* line 94, ../../app/styles/modules/_typography.scss */
.pacifico {
  font-family: 'Pacifico', sans-serif;
}

/* line 98, ../../app/styles/modules/_typography.scss */
.layered--title {
  margin-bottom: -12px;
}

/* line 102, ../../app/styles/modules/_typography.scss */
.smallVerticalCenter {
  line-height: 250px;
}
/* line 104, ../../app/styles/modules/_typography.scss */
.smallVerticalCenter h1 {
  width: 100%;
  font-size: 4em;
  text-shadow: 3px 3px #45332F;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
@media (max-width: 768px) {
  /* line 102, ../../app/styles/modules/_typography.scss */
  .smallVerticalCenter {
    line-height: 200px;
  }
  /* line 114, ../../app/styles/modules/_typography.scss */
  .smallVerticalCenter h1 {
    font-size: 3em;
  }
}

/* Partials
   ========================================================================== */
/* line 1, ../../app/styles/partials/_bubble.scss */
.bubble {
  background-color: #F5EDE0;
  padding: 35px;
  border-radius: 5px;
}
/* line 5, ../../app/styles/partials/_bubble.scss */
.bubble .rounded {
  max-width: 200px;
  width: 66%;
  margin: 0 0 -130px 0;
  top: -145px;
  position: relative;
  border: 15px solid #F5EDE0;
}

/* line 15, ../../app/styles/partials/_bubble.scss */
.layered--bubble {
  position: relative;
  top: -120px;
  margin-bottom: -120px;
}
@media (max-width: 768px) {
  /* line 15, ../../app/styles/partials/_bubble.scss */
  .layered--bubble {
    top: -80px;
    margin-bottom: -80px;
  }
}

/* line 1, ../../app/styles/partials/_buttons.scss */
.goTo {
  text-align: center;
  padding: 5px 40px;
  background: #A84932;
  margin: 20px auto;
  position: absolute;
  transition: all .2s ease-in-out;
}
/* line 9, ../../app/styles/partials/_buttons.scss */
.goTo:hover {
  background: #8c3d2a;
}

/* line 14, ../../app/styles/partials/_buttons.scss */
.read-more-button {
  display: none;
}

/* line 18, ../../app/styles/partials/_buttons.scss */
.btn {
  padding: 5px 20px;
  color: #F5EDE0;
  background: #36A17E;
  border-radius: 5px;
}
/* line 24, ../../app/styles/partials/_buttons.scss */
.btn:hover {
  color: #F5EDE0;
  background: #3fbc93;
}

/* line 30, ../../app/styles/partials/_buttons.scss */
.big--btn {
  padding: 10px 40px;
  font-size: 1.5em;
  background: #A84932;
}
/* line 35, ../../app/styles/partials/_buttons.scss */
.big--btn:hover {
  color: #F5EDE0;
  background: #8c3d2a;
}

/* line 1, ../../app/styles/partials/_canvas.scss */
#behind {
  position: absolute;
  display: block;
  background: #222;
  width: 100%;
  height: 500px;
  z-index: -1;
}

/* line 11, ../../app/styles/partials/_canvas.scss */
#dusk {
  background: #45332F;
  width: 100%;
  height: 500px;
  z-index: 0;
  opacity: 0.3;
  position: absolute;
}

/*Canvas Stuff*/
/* line 22, ../../app/styles/partials/_canvas.scss */
.canvas {
  height: 500px;
}

/* line 26, ../../app/styles/partials/_canvas.scss */
canvas {
  position: absolute;
  height: 500px;
  margin-top: 25px;
}

/* line 32, ../../app/styles/partials/_canvas.scss */
#grass {
  position: relative;
  margin: 0;
  width: 100%;
  z-index: -5;
}

/* Name Fade in Stuff*/
/* line 41, ../../app/styles/partials/_canvas.scss */
#center {
  height: 500px;
}

/* line 45, ../../app/styles/partials/_canvas.scss */
#Info {
  z-index: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #F5EDE0;
  line-height: 0;
  font-size: 24px;
  font-family: 'Lato', Helvetica;
  font-weight: 200;
  word-spacing: .25rem;
  top: 50%;
}

/* Safari and Chrome */
@-webkit-keyframes fadeUpIn {
  from {
    opacity: 0;
    top: 150px;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
/* line 1, ../../app/styles/partials/_contact.scss */
.contact, .lastContact {
  background-color: #36A17E;
  color: #F5EDE0;
  text-align: center;
  padding: 30px;
  transition: background, .4s, linear;
  border-radius: 5px;
  margin-bottom: 15px;
}
/* line 12, ../../app/styles/partials/_contact.scss */
.contact:hover h2, .lastContact:hover h2 {
  color: #FFB03B;
}
/* line 17, ../../app/styles/partials/_contact.scss */
.contact h2, .lastContact h2 {
  background: #F5EDE0;
  border-radius: 3px;
  color: #45332F;
  padding: 10px 0;
  transition: background, .4s, linear;
}
/* line 24, ../../app/styles/partials/_contact.scss */
.contact p, .lastContact p {
  text-align: center;
  color: #FFB03B;
  font-size: 20px;
  font-weight: bold;
}
/* line 31, ../../app/styles/partials/_contact.scss */
.contact .icon, .lastContact .icon {
  margin: 15px 0;
}

/* line 36, ../../app/styles/partials/_contact.scss */
.contactBox {
  width: 50%;
  background-color: #FFB03B;
  display: inline-block;
  text-align: center;
  padding: 30px;
  transition: background, .4s, linear;
}
/* line 44, ../../app/styles/partials/_contact.scss */
.contactBox:hover {
  background-color: #ee8e00 !important;
}

@media (max-width: 768px) {
  /* line 50, ../../app/styles/partials/_contact.scss */
  .contactBox {
    width: 100%;
  }
}
/* line 4, ../../app/styles/partials/_footer.scss */
.footer {
  background: #A84932;
  color: #F5EDE0;
  position: relative;
}
/* line 9, ../../app/styles/partials/_footer.scss */
.footer:before {
  background-image: url(/images/grass.svg);
  background-repeat: repeat-x;
  width: 100%;
  content: " ";
  height: 60px;
  position: absolute;
  top: -55px;
}
/* line 20, ../../app/styles/partials/_footer.scss */
.footer .container {
  line-height: 30px;
  position: relative;
  padding-top: 10px;
}
/* line 26, ../../app/styles/partials/_footer.scss */
.footer p {
  bottom: 1em;
  text-align: center;
  margin: 0;
  z-index: 2;
  font-size: 16px;
}
/* line 33, ../../app/styles/partials/_footer.scss */
.footer ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
/* line 41, ../../app/styles/partials/_footer.scss */
.footer ul .icon {
  display: none;
}
/* line 45, ../../app/styles/partials/_footer.scss */
.footer ul li {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  padding: 3px 0 8px 0;
}
/* line 51, ../../app/styles/partials/_footer.scss */
.footer ul li:hover {
  color: #36A17E;
}
/* line 55, ../../app/styles/partials/_footer.scss */
.footer ul li a {
  display: block;
  font-size: 1.1em;
  padding: 1.25px 1.7em;
  font-weight: 500;
  color: #F5EDE0;
  text-decoration: none;
  white-space: nowrap;
}
/* line 63, ../../app/styles/partials/_footer.scss */
.footer ul li a:hover {
  color: #FFB03B;
}

@media (max-width: 768px) {
  /* line 72, ../../app/styles/partials/_footer.scss */
  body {
    padding-bottom: 80px;
  }

  /* line 75, ../../app/styles/partials/_footer.scss */
  .footer {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    left: 0;
  }
  /* line 82, ../../app/styles/partials/_footer.scss */
  .footer:before {
    background-image: url(/images/grass-mobile.svg);
  }
  /* line 86, ../../app/styles/partials/_footer.scss */
  .footer .container {
    line-height: 5px;
    padding: 0;
  }
  /* line 91, ../../app/styles/partials/_footer.scss */
  .footer ul {
    font-size: 12px;
    padding-left: 0px;
  }
  /* line 95, ../../app/styles/partials/_footer.scss */
  .footer ul .icon {
    stroke: #F5EDE0;
    fill: #F5EDE0;
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
  /* line 103, ../../app/styles/partials/_footer.scss */
  .footer ul li {
    width: 25%;
  }
  /* line 106, ../../app/styles/partials/_footer.scss */
  .footer ul li a {
    text-align: center;
    white-space: normal;
    line-height: 17px;
  }
}
/* line 4, ../../app/styles/partials/_hero.scss */
.hero {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  background-color: #45332F;
}
/* line 9, ../../app/styles/partials/_hero.scss */
.hero img {
  width: 100%;
}

/* line 14, ../../app/styles/partials/_hero.scss */
.bigHero {
  height: 500px;
}

/* line 18, ../../app/styles/partials/_hero.scss */
.smallHero {
  height: 250px;
}

/* line 22, ../../app/styles/partials/_hero.scss */
.workHero {
  background-image: url("../images/America.jpg");
  background-position: 50% 50%;
}
/* line 25, ../../app/styles/partials/_hero.scss */
.workHero:before {
  background-repeat: repeat-x;
  width: 100%;
  content: " ";
  height: 500px;
  position: absolute;
  bottom: 8px;
}

/* line 37, ../../app/styles/partials/_hero.scss */
.contactHero {
  background-image: url("../images/America.jpg");
  background-position: 50% 150%;
}
/* line 40, ../../app/styles/partials/_hero.scss */
.contactHero h1 {
  text-shadow: 0px 3px #45332F;
}

/* line 45, ../../app/styles/partials/_hero.scss */
.verticalCenter {
  position: relative;
  height: 100%;
}
/* line 48, ../../app/styles/partials/_hero.scss */
.verticalCenter .innerCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 5%;
}

@media (max-width: 768px) {
  /* line 59, ../../app/styles/partials/_hero.scss */
  .bigHero {
    height: 400px;
  }

  /* line 62, ../../app/styles/partials/_hero.scss */
  .smallHero {
    height: 200px;
  }
}
/* line 1, ../../app/styles/partials/_nav.scss */
body {
  padding-top: 58px;
}

/* line 4, ../../app/styles/partials/_nav.scss */
.nav {
  background-color: #A84932;
  line-height: 30px;
  display: block;
  z-index: 1001;
  text-align: left;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
/* line 15, ../../app/styles/partials/_nav.scss */
.nav .logo {
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #F5EDE0;
  line-height: 58px;
}
/* line 23, ../../app/styles/partials/_nav.scss */
.nav ul {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  float: right;
}
/* line 29, ../../app/styles/partials/_nav.scss */
.nav li {
  display: inline-block;
  vertical-align: top;
  transition: background, .7s, linear;
}
/* line 35, ../../app/styles/partials/_nav.scss */
.nav li:hover, .nav li .current {
  background: #8c3d2a;
}
/* line 41, ../../app/styles/partials/_nav.scss */
.nav li a {
  display: block;
  font-size: 1.1em;
  padding: 0 1.75em;
  font-weight: 500;
  color: #F5EDE0;
  text-decoration: none;
  white-space: nowrap;
  line-height: 58px;
}

@media (max-width: 768px) {
  /* line 57, ../../app/styles/partials/_nav.scss */
  body {
    padding-top: 0;
  }

  /* line 60, ../../app/styles/partials/_nav.scss */
  .nav {
    position: relative;
  }
  /* line 62, ../../app/styles/partials/_nav.scss */
  .nav ul {
    display: none;
  }
}
/* line 1, ../../app/styles/partials/_scaffolding.scss */
body {
  height: 100%;
  margin: 0;
  background: #f7d278;
}

/* line 8, ../../app/styles/partials/_scaffolding.scss */
.p-section {
  padding: 40px 0;
}

/* line 12, ../../app/styles/partials/_scaffolding.scss */
.anchor {
  position: absolute;
  margin-top: -80px;
}

/* line 17, ../../app/styles/partials/_scaffolding.scss */
img {
  max-width: 100%;
}

/* line 21, ../../app/styles/partials/_scaffolding.scss */
hr {
  margin: 2em 0;
  border: 1px solid #45332F;
}

/* line 26, ../../app/styles/partials/_scaffolding.scss */
table {
  width: 100%;
}

/* line 30, ../../app/styles/partials/_scaffolding.scss */
.rounded {
  border-radius: 100%;
}

/* line 34, ../../app/styles/partials/_scaffolding.scss */
.no--spacing {
  margin: 0 !important;
  padding: 0 !important;
}
