---
title:      Resume
section:    homepage
type:       subpage
sort:		2
---

<section class="p-section">
	<div class="container">
		<div class="bubble">
			<h1>Resume</h1>
			<p class="text--center">
				<a href="mailto:camilacarvajalw@gmail.com">camilacarvajalw@gmail.com</a><br>
				(209) 423 - 7240
			</p>

			<p>
				<h2>Fyber Inc.</h2> <br>
				Frontend Web Developer<br>
				(1 Year) Aug 2014 — present<br>
			</p>
				<ul>
					<li>
						Redesigned and maintained website UI for Fyber.com using GruntJS, inuit, Assemble, and Handlebars 
					</li>
					<li>
						Completely redesigned demand portal at dp-dashboard.fyber.com 
					</li>
					<li>
						Collaborated with design team to ensure online materials accurately conveyed the Fyber brand 
					</li>
					<li>
						Setup and extensively used Git as version control system
					</li>
					<li>
						Updated and maintained RNTSMedia.com with foursquare tools
					</li>
				</ul>
			<p>
				<h2>Nvidia</h2><br> 
				Performance Testing Engineer Intern<br>
				(8 Months) Jan 2014 — Aug 2014<br>
			</p>
				<ul>
					<li>
						Automated mobile device performance tests by writing scripts in Perl 
					</li>
					<li>
						Analyzed power consumption and performance data for NVIDIA Tegra and competitor devices 
					</li>
					<li>
						Effectively communicated results and problems to marketing team and software engineers 
					</li>
					<li>
						Stress tested devices at low temperatures to investigate performance in controlled environments.
					</li>
				</ul>
			<p>
				<h2>Supercomputing Competition</h2><br>
				Supercomputing Conference '12 <br>
				(1 Year) Jan 2012 — Dec 2012<br>
			</p>
				<ul>
					<li>
						Used Linux environment to run various scientific applications on a supercomputer donated by Lawrence Livermore National Laboratory 
					</li>
					<li>
						Optimized the application builds and executables for our supercomputer to ensure the fastest run time 
					</li>
					<li>
						Collaborated with team to run programs in parallel while staying under our power limit
					</li>
				</ul>
		</div>
	</div>
</section>