---
title:      Work
section:    homepage
type:       subpage
sort:		1
---
<section class="workHero bigHero parallax verticalCenter">
	<h1 class="text--center color--white fadeDown">Work</h1>
</section>

<section class="">
	<div class="texture">
		<span class="box"></span>
	</div>
</section>

<section class="p-section">
	<div class="container layered">
		<div class="work photo">
			<a href="http://www.fyber.com/careers.html">
				<div class="tags">
					<h2 class="color--yellow">Fyber Inc.</h2> Handelbars, Git, SASS, JQuery<br> <span class="goTo">Visit Site</span>
				</div>
				<img src="../images/main_career.jpg" alt="Fyber Career Pages">
				<p>Fyber Career Pages</p>
			</a>
		</div>
		<div class="work photo">
			
				<div class="tags">
					<h2 class="color--yellow">Fyber Inc.</h2> PHP, Wordpress, Design, Javascript
				</div>
				<img src="../images/demand_portal.png" alt="Demand Portal">
				<p>Fyber Demand Portal</p>	
			
		</div>
		<div class="lastWork photo">
			<a href="http://codepen.io/milabear/pen/ndqJi">
				<div class="tags">
					<h2 class="color--yellow">Personal Project</h2> Canvas, SASS, JQuery<br> <span class="goTo">Visit Site</span>
				</div>
				<img src="../images/platformer.jpg" alt="Canvas Platformer">
				<p>Canvas Platformer</p>	
			</a>
		</div>
		<div class="work photo">
			<a href="http://codepen.io/milabear/pen/mrIaJ">
				<div class="tags">
					<h2 class="color--yellow">Personal Project</h2> CSS, JQuery<br> <span class="goTo">Visit Site</span>
				</div>
				<img src="../images/portfolio.jpg" alt="Filterable Portfolio">
				<p>Filterable Gallery</p>
			</a>
		</div>
		<div class="work photo">
			<a href="http://codepen.io/milabear/pen/mJeFG">
				<div class="tags">
					<h2 class="color--yellow">Personal Project</h2> CSS, Animations, Illustration<br> <span class="goTo">Visit Site</span>
				</div>
				<img src="../images/CSS_animation.jpg" alt="CSS Animation">
				<p>Pure CSS Animation</p>	
			</a>
		</div>
	</div>
</section>