<!doctype html>
<!--staging-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#isnt page.title 'Home page'}}{{ page.title }} - {{/isnt}}Camila's Portfolio</title>
	<meta name="title" content="Camila Carvajal's online Portfolio" />
	<meta name="description" content="My name is Camila Carvajal and this is my online portfolio. So far I've fully developed websites on multiple platforms, quality tested GPUs, designed video games from the ground up, and worked with hundreds of talented people. Still I have a strong thirst for knowledge and enjoy learning about game design, software engineering, graphic design practices, UI/UX, animation and above all, people. Please contant me for relavant business opportunities" />
	<meta property="og:title" content="CamilasPortfolio" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- bower:css -->
	<!-- endbower -->
	
</head>
<body>

{{> navbar }}

{{> body }}

{{> footer }}

{{> scripts }}

</body>
</html>
